:root {
	--Championship: #44A7C7;
	--Premier-League: #7D55A5;
	--League-One: red;
	--League-Two: #107cdf;
	--National-League: orange;
	--National-League-North: green;
	--National-League-South: #ebb3f2;
	--Northern-Premier-League: white;
	--Womens-Super-League-One: purple;
	--Womens-Super-League-Two: yellow;
	--Serie-A: #9b2d22;
	--Bundesliga: #5962a0;
	--La-Liga: #e0c653;
	--mainpink: #af4b60;
	--mainblue: #353554;
}

ul {
	padding-left: 0;
}

.custom-card {
  border: 5px solid #af4b60;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  background: rgba(53, 53, 84, 0.80);
  transition: 0.5s;
  border-radius: 10px;
  color: white;
}

.custom-card:hover {
	background: #222;
	cursor: pointer;
}


.custom-card h1{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15pt;
	color: white;
	font-weight: 300;
	cursor: pointer;
	transition: 0.5s;
	padding: 2px 2px 2px 2px;
	border-bottom: 1px solid #888;
}

.custom-card li{
	font-weight: 400;
	font-size: 12pt;
	color: #ddd;
	margin-bottom: 8px;
	list-style: none;
	padding-left: 5px;
}

.clublogo {
	width: 55px;
	height: 55px;
	float: right;
	background: white;
	margin-top: 5px;
	border: 5px solid transparent;
  border-radius: 10px;
	padding: 5px 5px 5px 5px;
  text-align: right;
}

.staduim-icon {
	margin-right: 2px;
}

.location-icon {
	margin-right: 3px;
	margin-left: 3px;
}

.capacity-icon {
  margin-right: 3px;
  margin-left: 2px;
}

.league-icon {
  margin-right: 4px;
}

.league-container {
	background: rgba(21, 21, 21, 0.95);
	width: auto;
	border-radius: 5px;
}

.searchcon {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;

}
.search {
	border-radius: 5px;
	border: 3px solid #333;
	color: white;
	width: 100%;
	height: 50px;
	font-weight: 300;
	font-size: 24pt;
	text-indent:5px;
	background: #000;
	transition: 0.3s;
	margin-bottom: 5px;
}

.search:hover {
	border: 3px solid lightgrey;
	background: #111;
}

::placeholder {
	color: #efefef;
	font-weight: 300;
	transition: 3s;
}

.search:focus {
	outline: none !important;
	border-radius: 5px;
	border: 3px solid #000;
	background: #000;
	transition: 2s;
}

.search:focus::placeholder {
	color: transparent;
}

.checkbox {
	display: none;
}

.button label {
	font-weight: 400;
	line-height: 20px;
	cursor: pointer;
  border-radius:5px;
  transition: 0.5s;
  float: left;
  margin: 5px 5px 5px 5px;
  font-size: 10pt;
}


.button label span {
  text-align:center;
  display:block;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	background-color: #efefef;
	color: #b0b0b0;
	transition: 0.2s;
}

.button label:hover {
	box-shadow: 1px 1px 10px black;
}

.button label span:hover {
	background: #fefefe;
	color: green;
}

.button input:checked + span{
   background-color: green;
   color: white;
   padding: 5px 10px 5px 10px;
   border-radius: 5px;
}

.custom-button {
	background: none;
	border: none;
	float: right;
}

.custom-button i {
	color: white;
}
