<h1>Welcome to Football 4.0</h1>
  <h4 style="color: #8a3749;"><i class="fa fa-info-circle"></i> You can search for a team and filter by leauge.</h4>

    <!-- Each card comes with: 
      <ul style="list-style: none; color: white;">
        <li> A club logo</li>
        <li> Team name</li>
        <li> <i class="fa fa-home staduim-icon"></i> Home ground</li>
        <li> <i class="fa fa-map-marker location-icon"></i> Club location </li>
        <li> <i class="fa fa-user capacity-icon"></i> Staduim capacity </li>
        <li> <i class="fa fa-trophy league"></i> League. </li>
      </ul>
</div>  -->